Exercise 2: <h1> PEER GRADED ASSIGNMENT </h1>

Exercise 3:
## Introduction
THIS IS MY PEER GRADED ASSIGNMENT FOR THE COURSE DATA SCIENCE IBM

Exercise 4: Markdown cell to list data science languages:
<ol>
    <li>Python</li>
    <li>JAVA</li>
    <li>SQL</li>
    <li>R</li>
    <li>C/C++.</li>
    <li>C#</li>
    <li>PHP</li>
</ol>

Exercise 5: Markdown cell to list data science libraries:
<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>PyTorch</li>   
    <li>Tensorflow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>SciKit-Learn</li>
</ol>

Exercise 6 : Markdown cell with a table of Data Science tools.


<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>IBM Data Asset eXchange </td>
    <td>contains high-quality open data sets</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td>General-purpose cluster-computing framework that allows you to process data using compute clusters</td>
  </tr>
  <tr>
    <td>SAS</td>
    <td>Designed for statistical operation</td>
  </tr>
</table>

#Exercise 7 : Create a markdown cell introducing arithmetic expression examples. 

2 + 2 = 4

<p>3<sup>4</sup> = 81</p>

In [6]:
#Exercise 8 : code cell to multiply and add numbers

a = 10
b = 2

print("Number 1: ",a)
print("Number 2: ",b)
print("Multiplication: ",a*b," and Addition: ",a+b)

Number 1:  10
Number 2:  2
Multiplication:  20  and Addition:  12

In [15]:
#exercise 9 : code cell to convert minutes to hours

minutes = 90
hours = 1.0*(minutes/60)

print("minutes: ",minutes)
print("in hours: ",hours)

minutes:  90
in hours:  1.5

Exercise 10 : Markdown cell to list Objectives

<h3> List of objectives </h3>
<ol>
    <li>Complete the Data Science Course</li>
    <li>Finish the notes</li>
    <li>Start practicing problems</li>
</ol>

Exercise 11 : Create a markdown cell to indicate the Authorâ€™s name.

<h3> Author: Vipul Banjarey <h3>